.PostBanner{
    position: absolute;
    top: -4.3%;
    right: -27.8%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 790px;
    background-color: #d5efba;
}